<address itemscope itemtype="http://schema.org/LocalBusiness">
	<span>Tom &amp; Kathy Mersereau</span><br />
	<span itemprop="name">Springbrook Camp Outfitters</span>
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">80 Rankine Road</span><br />
		<span itemprop="addressLocality">Tracy</span>, <span itemprop="addressRegion">NB</span> <span itemprop="postalCode">E5L 1L4</span><br />
		<span itemprop="telephone">1-506-368-2267</span>
	</div>
</address>
